.img-rounded {
  border-radius: $border-radius;
}

.img-circle {
  border-radius: 50%;
} 

/** To Do: add box shadow */
.img-framed {
  padding: 4px;
  background-color: $white-color;
  border: 1px solid lighten($black-color, 75%);
}