h1, .h1 { 
  font-size: $h1-font-size; 
  @extend %common-heading-styles; 
}
h2, .h2 { 
  font-size: $h2-font-size; 
  @extend %common-heading-styles; 
}
h3, .h3 { 
  font-size: $h3-font-size; 
  @extend %common-heading-styles; 
}
h4, .h4 { 
  font-size: $h4-font-size; 
  @extend %common-heading-styles; 
}
h5, .h5 { 
  font-size: $h5-font-size; 
  @extend %common-heading-styles; 
}
h6, .h6 { 
  font-size: $h6-font-size; 
  @extend %common-heading-styles; 
}

%common-heading-styles {
  margin-bottom: $horizontal-space;
  & > a, & > a:hover, & > a:active {
    color: inherit;
  }
  & > a {
    text-decoration: none;
  }
  & > a:hover, & > a:active {
    text-decoration: underline;
  }
}