a {
  color: $link-color;
  background: transparent;
  // text-decoration: underline;
  &:active, &:hover {
    outline: 0; 
  } 
  &:hover, &:focus {
    color: $link-color-hover;
    text-decoration: none;
  }
  &:active {
    color: $link-color-active;
  }
  &:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; 
  }
}