table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0 0 $horizontal-space;
}

th {
  font-weight: 700;
  text-align: left;
}

td, th {
  padding: 5px;
}

table, th, td {
  border: 1px solid $black-color;
}
